
<div layout:decorator="layout">
	<th:block layout:fragment="layout-libraries">
	</th:block>

	<th:block layout:fragment="layout-styles">
		<style type="text/css">
		    @media only screen and (min-width : 0px) and (max-width : 767px) {
		    }
		
		    @media only screen and (min-width : 768px) and (max-width : 991px) {
		        dl {
		            width: 738px; /* 750-12 */
		            margin: 6px;
		        }
		
		        dl dt {
		            float: left;
		        }
		
		        dl dd {
		            margin-left: 200px;
		        }
		    }
		
		    @media only screen and (min-width : 992px) and (max-width : 1199px) {
		        dl {
		            width: 958px; /* 970-12 */
		            margin: 6px;
		        }
		
		        dl dt {
		            float: left;
		        }
		
		        dl dd {
		            margin-left: 200px;
		        }
		    }
		
		    @media only screen and (min-width : 1200px) {
		        dl {
		            width: 1158px; /* 1170-12 */
		            margin: 6px;
		        }
		
		        dl dt {
		            float: left;
		        }
		
		        dl dd {
		            margin-left: 200px;
		        }
		    }
		
		    /* エラーメッセージ用 */
		    /* jQuery unobtrusive validation 用 */
		    .field-validation-error {
		        color: #ff0000;
		    }
		
		    .field-validation-valid {
		        display: none;
		    }
		
		    .input-validation-error {
		        border: 2px solid #ff0000;
		        background-color: #ffeeee;
		    }
		
		    .validation-summary-errors {
		        font-weight: bold;
		        color: #ff0000;
		    }
		
		    .validation-summary-valid {
		        display: none;
		    }
		
		    /* jQuery Validation 用 */
		    .error { 
		        color:red 
		    }
		    input.error, select.error, textarea.error {
		        border: 2px solid red;
		        background-color: #ffeeee;
		    }
		</style>
	</th:block>


    <th:block layout:fragment="layout-body">
		<h4>著者データを修正してください。</h4>

		<form th:object="${editViewModel}" th:action="@{'/authors/editAuthor/' + *{AuthorId}}" method="post">
			<dl>
		        <dt><label for="AuthorId">著者ID</label></dt>
		        <dd th:text="*{AuthorId}"></dd>
		    </dl>
		    <dl>
		        <dt><label for="AuthorFirstName">著者名（名）</label></dt>
		        <dd><input name="AuthorFirstName" type="text" th:value="*{AuthorFirstName}" /></dd>
		    </dl>
		    <dl>
		        <dt><label for="AuthorLastName">著者名（姓）</label></dt>
		        <dd><input name="AuthorLastName" type="text" th:value="*{AuthorLastName}" /></dd>
		    </dl>
		    <dl>
		        <dt><label for="Phone">電話番号</label></dt>
		        <dd><input name="Phone" type="text" th:value="*{Phone}" /></dd>
		    </dl>
		    <dl>
		        <dt><label for="State">州</label></dt>
		        <dd>
		            <select name="State">
		            	<option th:each="obj:${states}" th:value="${obj.key}" th:text="${obj.value}" th:selected="${obj.key == editViewModel.State}"></option>
					</select>
		        </dd>
		    </dl>
			<input name="OriginalAuthor" type="hidden" th:value="*{OriginalAuthor}" />    

			<p>
		        <input type="submit" value="登録" />
		        <input type="button" id="btnCancel" value="キャンセル" />
		    </p>
			<div th:if="${#fields.hasAnyErrors()}" class="validation-summary-errors">
				<p>入力にエラーがあります。修正してください。</p>
				<ul th:object="${editViewModel}">
					<li th:each="error:${#fields.detailedErrors()}" th:text="${error.message}" />
				</ul>
			</div>
		</form>
		<hr />
		<p>
		    <a href="/">業務メニューに戻る</a>
		</p>
	</th:block>
	
    <th:block layout:fragment="layout-scripts">
   	    <script type="text/javascript">
		    $(function () {
		        $("#btnCancel").click(function () {
		            window.location = "/authors/listAuthors";
		            return false;
		        });
		    });
	    </script>
	</th:block>
	
</div>


